/*  */
/* *{

    color:pink;
    background-color:silver;

} */
/*  */
body {

    background-color: yellow;

}

/*  */
button {

    font-size: 30px;
}
/*  */
h1,h2 {

    color:purple;
}
 /*  */
 #signup {

    background-color:pink;
    color:blue;
 }
/*  */
.tag{

    color:aquamarine;
}

/*  */
fotter > a {

    color:orange;
}

a[href*="google"] {

    color:darkorange;
}
/*  */
button :hover {

    background-color:aqua;
    color:yellowgreen;
}

/*  */
.post button:active{

    background-color:green;
}

h2::first-letter{

    font-size:50px;
}
/*  */
p::first-line {

    color:green
}