/*  */

/* *{
    color:green;
    background-color:yellow;
} */

/*A body element selector with elements inside it and any changes of the body affects all 
elements in the body in this case we are changing the color to BROWN  */

body {

    background-color: rgb(109, 69, 69);
}

/* A button element selector with elements inside it changes unless there are other selectors
inside the button in this case we are changing the font to 30px*/

button {

    font-size: 30px; 
}

/* A selector for h1 and h2 elements in this case we are changing the color of text inside the headers 
in to crimson */

h1,h2 {

    color:crimson;
}

/*An ID selector for signup with background color pink and blue  */

#signup {

    background-color:pink;
    color:blue; 

}

/* A class selector for a tag with gold color  */

.tag{

    color:gold;
}

/*  */

.post a{

    color:green;
}

/* A footer tag for a section which contains information; like home contact and google address
color orange*/

footer > a {
    color:orange;

}

/* This is a selector which is gonna change evry google text into a darkorange color */

a[href*="google"] {

    color:darkorange;

}

/* A selector for button color yellowgreen background and aquamarine word */

button:hover {

    background-color:yellowgreen;
    color:aquamarine;

}

/*An active button color selector for green background */

.post button:active{

    background-color:green;

}

/* This selector is going to change the font of our first line into 50px */

h2::first-letter {

    font-size:50px; 
}

/*This selector is going to change the color of the first line of out text into skyblue  */

p::first-line {

    color:skyblue;
}