h1 {

    /* A color element for h1 tag */
color:green

}

h2{

    /* A color element for h2 tag */
    color:purple
}

p {

    /* A color element for paragraph text and packground */
    color:aqua;
    background-color:black;

}
button {

color:white;
background-color: darkblue

}